extends layout

block content
	div(id="chat-content", data-role="footer")
	div(class="chat-controls", data-role="footer", data-position="fixed")
		input#message
	script(type='text/javascript').
		window.param_sessionId = '!{sessionId}'; window.param_userId = '!{user.id}'; window.param_username = '!{user.name}';
	script(src='/js/chat.js')